<div id="account-form">
    <%- include("../partials/signinNav") %>
    <form action="/account/login" method="post">
        <ul class="form-error-list"></ul>
        <fieldset>
            <legend>Login</legend>
            <p><span class="required-field"> </span>Indicates a required field</p>
            <label>
                <span class="required-field"> </span>Email
                <input id="email" name="email" type="email" pattern="^\S+@\S+\.\S+$" required>
            </label>
            <label>
                <span class="required-field"> </span>Password
                <input id="password" name="password" type="password" min="8"
                pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$" required>
            </label>
            <button type="submit">Log In</button>
        </fieldset>
    </form>
</div>
<script type="module" src="/js/login.js"></script>