<header>
    <div id="icon">
        <a href="/">
            <!-- <img src="images/gok.png" width="64" height="64" alt="icon image"> -->
             <img id="icon-svg" src="images/icon.svg" alt="">
            <h1>
                Pet Tracker
            </h1>
        </a>
    </div>
</header>