<form class="feedback-form" action="" method="post">
    <fieldset>
        <legend>Feedback</legend>
        <label>
            <textarea name="feedback" id="feedback" cols="30" rows="10"></textarea>
        </label>
        <button>Send feedback</button>
    </fieldset>
</form>
<script type="module" src="/js/feedback.js"></script>