<form class="feedback-form" action="" method="post">
    <ul class="form-error-list"></ul>
    <fieldset>
        <legend>Feedback</legend>
        <label>
            <textarea name="feedback" id="feedback" cols="30" rows="10"></textarea>
        </label>
        <button anim="shake" class="toggled" type="submit">Send feedback</button>
    </fieldset>
</form>
<script type="module" src="/js/feedback.js"></script>