<section id="hero-section">
    <img src="images/gok.png" alt="">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, impedit repellat. Doloremque, debitis fugiat quasi voluptates consequatur aliquam consectetur perspiciatis nulla, deserunt minima ipsum cupiditate.</p>
        <a class="button" href="/pets">Get Started</a>
    </div>
</section>

<script src="/js/test.js"></script>