<section id="hero-section">
    <!-- https://unsplash.com/photos/a-white-dog-sitting-on-a-rock-formation-near-a-large-mountain-pond-915UJQaxtrk -->
    <img src="images/jf-brou-dog-scaled.png" alt="Beautiful dog in most photographed place in Canada - Jf Brou">
    <div>
        <h1>Welcome to PetLedger!</h1>
        <p>Your all in one place to track your pet's information and vaccinations!</p>
        <a class="button" href="/pets">Get Started</a>
    </div>
</section>
<section id="home-detail-cards">
    <div class="detail-card">
        <h2>Missing core vaccines? Important pet data?</h2>
        <p>Give us suggestions on what to add next!</p>
        <a class="button" href="/feedback">Send feedback</a>
    </div>
    <div class="detail-card">

    </div>
</section>

<script src="/js/start.js"></script>