<h1>My Pets</h1>
<a href="/pets/add">Add Pet</a>
<section id="pet-cards"></section>
<script type="module" src="/js/pet.js"></script>

<!-- <div class="pet-card">
    <img id="pet-img" src="/upload/" alt="image of (pet-name)">
    <p id="pet-name"></p>
    <p id="pet-breed"></p>
    <p id="pet-age"></p>
    <p id="pet-weight"></p>
    <p id="pet-lastvetvisit" class="hide"></p>
    <p id="pet-vaccinations" class="hide"></p>
</div> -->